{% extends "base.twig" %}

{% block title %}Offres - Lebonplan{% endblock %}

{% block content %}
    <div>
			<h1 class="center">Postuler à nos offres disponibles</h1>
		</div>

		<div class="search-container">
			<form action="{{path('recherche')}}" method="GET" class="search-form">
				<div class="search-wrapper">
					<input 
						type="text" 
						name="q" 
						placeholder="Rechercher une offre par mot-clé, entreprise ou lieu..." 
						class="search-input"
					>
					<button type="submit" class="search-button">
						<p>🔎</p>
					</button>
				</div>
			</form>
		</div>


		<div class="offers">
			<div class="offer hoverable ">
				<h1 class="title center">Stage - Administrateur Système et Réseau H/F</h1>
				<h2 class="small center">IBM | Pornichet - 44 | Publiée le 13/01/2025</h2>
				<h1 class="center"> <a href="{{path('postuler')}}" class="postuler clickable" > POSTULER </a> </h1>
			</div>
			<div class="offer hoverable">
				<h1 class="title center">Stage - Ingénieur Qualité H/F</h1>
				<h2 class="small center"> | Pornichet - 44 | Publiée le 20/01/2025</h2>
				<h1 class="center"> <a href="{{path('postuler')}}" class="postuler clickable" > POSTULER </a> </h1>
			</div>
			<div class="offer hoverable">
				<h1 class="title center">Stage - Devéloppement WEB H/F</h1>
				<h2 class="small center">IBM | Nantes - 44 | Publiée le 23/02/2025</h2>
				<h1 class="center"> <a href="{{path('postuler')}}" class="postuler clickable" > POSTULER </a> </h1>
			</div>
			<div class="offer hoverable">
				<h1 class="title center">Stage - Systèmes Embarqués H/F</h1>
				<h2 class="small center">IBM | Pornichet - 44 | Publiée le 10/02/2025</h2>
				<h1 class="center"> <a href="{{path('postuler')}}" class="postuler clickable" > POSTULER </a> </h1>
			</div>
			<div class="offer hoverable">
				<h1 class="title center">Créer votre annonce !</h1>
				<h1 class="center"> <a href="{{path('')}}" class="postuler clickable" > CREER </a> </h1>
			</div>
		</div>
{% endblock %}
