{% extends "base.twig" %}

{% block title %}Postuler - Lebonplan{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/assets/style_formulaire.css">
    <div class="top-button-container">
        <a href="#top" id="topButton" class="top-button">▲ HAUT ▲</a>
    </div>

    <main>
        {% if successMessage %}
            <div class="alertt alertt-success">{{ successMessage }}</div>
        {% endif %}
        
        {% if errorMessage %}
            <div class="alertt alertt-danger">
                {% if errorMessage is iterable %}
                    {% for error in errorMessage %}
                        {{ error }}<br>
                    {% endfor %}
                {% else %}
                    {{ errorMessage }}
                {% endif %}
            </div>
        {% endif %}


        <div>
            <h1 class="center">Postuler à une offre de stage</h1>
            <h2> Vous pouvez ici répondre directement à l'offre de stage qui a été déposée par l'entreprise. Soyez le
                plus précis possible dans vos réponses !</h2>
        </div>
        <div class="title">
            <h1>{{ offer.NameOffer }}</h1>
            <h2 class="small">{{ offer.NameCompany}} | Publiée le {{ offer.DateOffer|date("d/m/Y") }}</h2>
        </div>
        <div class="infos">
            <h3>Résumé de l'offre</h3>
            <div class="list">
                <span>{{ offer.DescOffer }}</span>
                <span>{{ offer.RemunOffer }}</span>
                {% if offer.Competences %}
                    {% for competence in offer.Competences %}
                        <span>{{ competence }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <form class="formulaire" method="post" enctype="multipart/form-data">
            <h1>Envoyez votre candidature dès maintenant</h1>

            <div class="section">CIVILITÉ
                <select name="Gender">
                    <option value="Monsieur" {% if formData.Gender == 'Monsieur' %}selected{% endif %}>Monsieur</option>
                    <option value="Madame" {% if formData.Gender == 'Madame' %}selected{% endif %}>Madame</option>
                </select>
            </div>

            <div class="section">NOM
                <input name="lastname" type="text" size="25" value="{{ formData.lastname ?? '' }}">
            </div>

            <div class="section">PRÉNOM
                <input name="surname" type="text" size="25" value="{{ formData.surname ?? '' }}">
            </div>

            <div class="section">COURRIEL
                <input name="email" type="email" size="35" value="{{ formData.email ?? '' }}">
            </div>

            <div class="section">A PROPOS DE VOUS
                <div class="checkbox">
                    <div class="box">
                        <input type="checkbox" name="Permis" value="permis" {% if formData.Permis %}checked{% endif %}>
                        Permis B
                    </div>
                    <div class="box">
                        <input type="checkbox" name="Car" value="car" {% if formData.Car %}checked{% endif %}>
                        Véhiculé
                    </div>
                    <div class="box">
                        <input type="checkbox" name="Certication" value="certication" {% if formData.Certication %}checked{% endif %}>
                        Certifications (Microsoft, Cisco)
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="checkbox2">
                    JE SUIS MAJEUR
                    <div class="box">
                        <input type="radio" name="Majeur" value="YES" {% if formData.Majeur != 'NO' %}checked{% endif %}>
                        Oui
                    </div>
                    <div class="box">
                        <input type="radio" name="Majeur" value="NO" {% if formData.Majeur == 'NO' %}checked{% endif %}>
                        Non
                    </div>
                </div>
            </div>

            <div class="section">VOTRE MESSAGE AU RECRUTEUR
                <textarea name="feedbacks" rows="5" cols="100">{{ formData.feedbacks ?? '' }}</textarea>
            </div>

            <div>
                <div class="file-container">
                    <!-- Input caché -->
                    <input type="file" id="file-upload" name="file-upload" accept=".pdf, .doc, .docx, .odt, .rtf, .jpg, .png">
                    
                    <!-- Label stylisé comme un bouton -->
                    <label for="file-upload" id="upload-button" class="custom-upload-btn">AJOUTER MON CV</label>

                    <div id="file-name-display" class="file-name-display">
                        Aucun fichier sélectionné
                    </div>
                </div>

                <p class="specifications">Poids max 2Mo</p>
                <p class="specifications">Formats .pdf, .doc, .docx, .odt, .rtf, .jpg ou png</p>

            </div>

            <div class="buttons">
                <button type="submit">POSTULER</button>
                <button type="button" id="reset-button">RÉINITIALISER</button>
            </div>

            <h2 class="smaller">En cliquant sur 'Postuler', vous acceptez les <a href="{{ path('legal-notice') }}">CGU</a> et déclarez avoir pris
                connaissance de la <a href="{{ path('legal-notice') }}">politique de protection des données</a> de notre site.</h2>
        </form>
    </main>
{% endblock %}