{% extends "base.twig" %}

{% block title %}Mes Favoris - Lebonplan{% endblock %}

{% block content %}
    <h1 class="center">Mes Offres Favorites</h1>

    {% if offers %}
        <div class="offers">
            {% for offre in offers %}
                <div class="offer hoverable">
                    {# Lien pour retirer des favoris #}
                    <div style="text-align: right;">
                        <a href="?page=toggle-wishlist&id={{ offre.idOffer }}" title="Retirer des favoris">★</a>
                    </div>
                    
                    <h1 class="title center">{{ offre.NameOffer }}</h1>
                    <h2 class="small center">{{ offre.DescOffer }} | {{ offre.RemunOffer }}</h2>
                    <h2 class="small center">{{ offre.idCompany}} | Publiée le {{ offre.DateOffer|date("d/m/Y") }}</h2>
                    <h1 class="center">
                        <a href="{{ path('postuler', {'id': offre.idOffer}) }}" class="postuler clickable">POSTULER</a>
                    </h1>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="center">Vous n'avez aucune offre dans vos favoris.</p>
    {% endif %}

    {# Affichage des messages #}
    {% if session.success %}
        <div class="alert success">{{ session.success }}</div>
    {% endif %}
    {% if session.error %}
        <div class="alert error">{{ session.error }}</div>
    {% endif %}
{% endblock %}